@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ITC Bauhaus BT Medium';
    src: url('/fonts/ITC-Bauhaus-Medium.ttf') format('truetype');
}

.font-bauhaus-medium {
    font-family: 'ITC Bauhaus Medium', sans-serif;
}